@model StudyShare.ViewModels.ChangePasswordViewModel
<div class="container mt-4">
    <div class="card p-4 shadow-sm border-0" style="max-width: 500px; margin: auto;">
        <h4 class="mb-3 fw-bold">Đổi mật khẩu</h4>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger small"></div>
            <div class="mb-3">
                <label>Mật khẩu cũ</label>
                <input asp-for="OldPassword" class="form-control" type="password" />
            </div>
            <div class="mb-3">
                <label>Mật khẩu mới</label>
                <input asp-for="NewPassword" class="form-control" type="password" />
            </div>
            <button type="submit" class="btn btn-dark w-100">Cập nhật mật khẩu</button>
        </form>
    </div>
</div>