@model StudyShare.Models.ResetPasswordViewModel

<h2>Reset mật khẩu</h2>

<form asp-action="ResetPassword" method="post">

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" />

    <input asp-for="ConfirmPassword" type="password" class="form-control mt-2" placeholder="Xác nhận mật khẩu" />

    <button class="btn btn-success mt-2">Reset</button>

</form>