<h2>🔥 Admin Dashboard</h2>

<ul>
    <li>
        <a asp-area="Admin" asp-controller="User" asp-action="Index">
            👤 Quản lý User
        </a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Question" asp-action="Index">
            ❓ Quản lý Question
        </a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Document" asp-action="Index">
            📄 Quản lý Document
        </a>
    </li>
</ul>