@model StudyShare.Models.Document

<h2>Upload tài liệu</h2>

<form asp-area="User" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
<div class="mb-3">
    <label class="form-label fw-bold">Chọn danh mục tài liệu</label>
    <select asp-for="CategoryId" class="form-select rounded-3" asp-items="ViewBag.CategoryId">
        <option value="">-- Vui lòng chọn danh mục --</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
</div>
    <div class="mb-3">
        <label>Chọn file</label>
        <input type="file" name="file" class="form-control" />
    </div>

    <button class="btn btn-success">Upload</button>

</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}